@media(max-width:768px) {
  .header {
    display: block;
    display: flex;
    justify-content:space-between;
  }

  .aaa {
    display:block;
  }

  .header-right .fa-search {
    display:block;
  }

  .header-right li {
    display:none;
  }

  .image-text {
    display:flex;
    flex-direction:column;
  }

  .image-text img {
    width: 100%;
  }

  .button {
    text-align: center;
    padding-bottom:25px;
  }

  .second-page {
    display:flex;
    flex-direction:column;
  }

  .left-second {
    width: 100%;
  }

  .right-second {
    width: 100%;
    padding: 0 30px;
    margin:0 auto;
  }
  .catnose-circle img {
    width: 70px;
    height: 70px;
    position:relative;
    top:-35px;
  }

  .bottom-1 {
    width: 70%;
  }
}

@media(min-width:768px) and (max-width:1030px) {
  .bottom-wrapper {
    display:flex;
    flex-wrap:wrap;
  }
  .bottom-1 {
    width: 40%;
  }
}

@media(min-width:1030px){
  .bottom-wrapper {
    display: block;
    display: flex;
  }

  .bottom-1 {
    width: 32%;
  }

  .bottom-3 {
    padding-top:30px;
  }


}
